.badge-danger {
    padding: 4px;
    border-radius: 10%;
    border: 1px solid #691d1d;
    background: #dc3545;
   
}
.badge-success {
    padding: 4px;
    border-radius: 10%;
    border: 1px solid #691d1d;
    background: #37a74f;
}